body {
    background-image: url("images/paper.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

p {
    text-align: center;
    background-color: rgb(255, 243, 230);
    border: 3px solid rgb(197, 177, 152);
    border-radius: 5px;

}

h2 {
    text-align: center;
    background-color: rgb(255, 243, 230);
    border: 3px solid rgb(197, 177, 152);
    border-radius: 5px;

}