body {
    background-image: url("images/paper.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: "trebuchet ms", sans-serif;
}

p {
    border: 5px outset #a2988f;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(237, 222, 205, 0.9);
}

.catbox {
    border: 5px outset #a2988f;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(237, 222, 205, 0.9);
    color: rgb(88, 80, 63);
}

h1 {
    text-transform: uppercase;
}

.hello-text {
    text-shadow: #0f0e0e 2px 2px;
}

a:link, a:visited {
    background-color: #b59986;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: #54483f;
  }

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #beb19e;
    background-color: rgba(237, 222, 205, 0.9);
}

#goUpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 2px 10px #000000;
}
.goup{
    width: 100%;
}